<div class="container">
  <div *ngFor="let filter of filters">
    <div><b>{{ filter.name }}</b></div>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th class="filter-column" scope="col">
            Criteria
          </th>
          <th class="filter-column" scope="col">
            Comparator
          </th>
          <th class="filter-column" scope="col">
            Condition
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let criterion of filter.criteria">
          <td>
            {{ criterion.criterion }}
          </td>
          <td>
            {{ criterion.comparator }}
          </td>
          <td>
            {{ criterion.condition }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
